<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Semester</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>292100</td>
        <td>Java 1</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>292101</td>
        <td>ava 2 </td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2892102</td>
        <td>Python</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>2892103</td>
        <td>Angular 1</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>